doctype html
html(lang="en")
  head
    title Dashboard - Your App
  body
    .container
      nav.navbar
        a(href="/") Home
        if user
           form(action="/logout", method="POST", style="display:inline;") 
            button(type="submit") Logout
      h1 Dashboard
      if !user.twitch_id
        a(href="/auth/twitch") Connect to Twitch
      else
        .twitch-profile
          h2 Your Twitch Profile
          p Name: #{user.username}
          p Display Name: #{user.twitch ? user.twitch.display_name : 'N/A'}
    
