doctype html
html(lang="en")
  head
    title Welcome to Your App
  body
    .container
      h1 Welcome to Your App
      p Join us today and start connecting with others!
      a(href="/auth/login") Login
      a(href="/auth/register") Sign Up
